<div class="container">
    <div class="add-view main-content">
        <h3> Add - Contact </h3>

        <div class="display-content">
            <form class="form" name="add-form" ng-submit = add.submit()>
                <div class="form-section name">
                    <div class="heading">Name</div>
                    <div class="form-ele">

                        <input type="text" placeholder="full name" ng-model="add.newContact.name" required>
                    </div>
                </div>

                <div class="form-section phone">
                    <div class="heading">Phone</div>
                    <div class="form-group">
                        <div class="form-ele">
                            <label>Personal</label>
                            <input type="text" placeholder="personal phone" ng-model="add.newContact.phone.personal">
                        </div>
                        <div class="form-ele">
                            <label>Work</label>
                            <input type="text" placeholder="work phone" ng-model="add.newContact.phone.work">
                        </div>
                        <div class="form-ele">
                            <label>Home</label>
                            <input type="text" placeholder="home phone" ng-model="add.newContact.phone.home">
                        </div>
                        <div class="form-ele">
                            <label>Others</label>
                            <input type="text" placeholder="enter info separated by comma(,)" ng-model="add.others">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-section email">
                    <div class="heading">Email</div>
                    <div class="form-group">
                        <div class="form-ele">
                            <label>Personal</label>
                            <input type="text" placeholder="personal email" ng-model="add.newContact.email.pemail">
                        </div>
                        <div class="form-ele">
                            <label>Work</label>
                            <input type="text" placeholder="work email" ng-model="add.newContact.email.wemail">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-section address">
                    <div class="heading">Address</div>
                    <div class="form-group">
                        <div class="form-ele">
                            <label>Line 1</label>
                            <input type="text" placeholder="Street details" ng-model="add.newContact.addr[0]">
                        </div>
                        <div class="form-ele">
                            <label>Line 2</label>
                            <input type="text" placeholder="Apt number" ng-model="add.newContact.addr[1]">
                        </div>
                        <div class="form-ele">
                            <label>City</label>
                            <input type="text" placeholder="city" ng-model="add.newContact.addr[2]">
                        </div>
                        <div class="form-ele">
                            <label>State</label>
                            <input type="text" placeholder="state" ng-model="add.newContact.addr[3]">
                        </div>
                        <div class="form-ele">
                            <label>Country</label>
                            <input type="text" placeholder="country" ng-model="add.newContact.addr[4]">
                        </div>
                        <div class="form-ele">
                            <label>Zip</label>
                            <input type="text" placeholder="postal code" ng-model="add.newContact.addr[5]">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-section desc">
                    <div class="heading">Notes</div>
                    <div class="form-ele">
                        <textarea ng-model="add.newContact.desc"></textarea>
                    </div>
                </div>

                <div class="buttons">
                    <button type="submit">Add</button>
                    <a ng-click="add.reset(add-form)"> Reset </a>
                    <a href="#/"> Cancel </a>
                </div>
            </form>
            <div class="clearfix"></div>

        </div>
    </div>


</div>
